h1 {
    color: black;
    text-align: center;
}

h2 {
    color: crimson;
    text-align: center;
    font-weight: bold;
}

.code {
    background-color: antiquewhite;
    font-family: monospace;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
}

table {
    border: 2px solid darkred;
    width: 694.20px;
    margin: 0 auto;
}

thead {
    background-color: blanchedalmond;
}

td {
    border-top: 0.75px solid saddlebrown;
}